@model IEnumerable<Lab2.Views.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Category</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">Create new category</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CategoryId"><i class="fas fa-edit"></i></a>
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
