@using Microsoft.AspNetCore.Http
@using Lab2.Helper;
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-menu">
                        <div class="col-md-8">
                            <ul>
                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <form action="">
                                <input class="text-lg-right" type="text" name="search" placeholder="Search">
                                <button type="submit" asp-action="Search" asp-controller="Home" class="btn btn-primary" data-toggle="tooltip">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End header area -->

    <div class="site-branding-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <h1><a asp-action="Index" asp-controller="Home"><img src="~/images/xlogo.png"></a></h1>
                    </div>
                </div>
                <div class="col-sm-6">
                    @*<div class="shopping-item">
                            <a href="#">Cart - <span class="cart-amunt">$0</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">0</span></a>
                        </div>*@
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ShoppingCart") != null)
                    {
                        <div class="shopping-item">
                            <a asp-controller="Cart" asp-action="Index">
                                Cart<i class="fa fa-shopping-cart"></i><span class="product-count">
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ShoppingCart").Count();
                                    }
                                    @count
                                </span>
                            </a>
                        </div>
                        @*<li style="color:blue">
                                <a asp-controller="Cart" asp-action="Index" class="nav-link">
                                    <i class="fa fa-shopping-cart"></i> &nbsp;
                                    @{
                                        var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ShoppingCart").Count();
                                    }
                                    (@count)
                                </a>
                            </li>*@
                    }
                    else
                    {
                        <div class="shopping-item">
                            <a href="#">Cart<i class="fa fa-shopping-cart"></i><span class="product-count">0</span></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> <!-- End site branding area -->
    <div class="mainmenu-area">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Iphone">Iphone</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SamSung">SamSung</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Oppo">Oppo</a></li>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Xiaomi">Xiaomi</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- End mainmenu area -->
    <div class="container">
        @RenderBody()
    </div>
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2><span>MobileSell</span></h2>
                        <p>Bán điện thoại</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categories </h2>
                        <ul>
                            <li><a asp-action="Iphone" asp-controller="Home">iPhone</a></li>
                            <li><a asp-action="Samsung" asp-controller="Home">Samsung</a></li>
                            <li><a asp-action="Oppo" asp-controller="Home">Oppo</a></li>
                            <li><a asp-action="Xiaomi" asp-controller="Home">Xiaomi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Contact</h2>
                        <ul>
                            <li>Address: 828 Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh</li>
                            <li>Phone: 0982994297</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.8698101103644!2d106.6675907268508!3d10.775766239895338!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed8cf596af7%3A0x33ec617b79a69949!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBOZ2_huqFpIE5n4buvIC0gVGluIEjhu41jIFRQLiBIQ00!5e0!3m2!1svi!2s!4v1589598906048!5m2!1svi!2s" width="300" height="225" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/bxslider.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.easing.1.3.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.sticky.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/script.slider.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>